@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  background-color: #f9fafb;
  color: #111827;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모달이 아래에서 위로 올라오는 애니메이션 */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

